<div>
    <div class="div-nav">
        <nav class="nav">
            <div class="div-ul">
                <ul class="ul">
                    <div class="div-li"><li><a routerLink="">Inicio</a></li></div>
                    <div class="div-li"><li><a routerLink="/about">Nosotros</a></li></div>
                    <div class="div-li"><li><a routerLink="">Áreas</a></li></div>
                    <div class="div-li"><li><a routerLink="">Blog</a></li></div>
                    <div class="div-li"><li><a href="#id-footer">Contacto</a></li></div>
                </ul>
            </div>
        </nav>
    </div>
</div>
