<div>
    <div class="div-nav">
        <nav class="nav">
            <div class="div-ul">
                <ul class="ul">
                    <div class="div-li"><li><a routerLinkActive="">Inicio</a></li></div>
                    <div class="div-li"><li><a routerLinkActive="">Nosotros</a></li></div>
                    <div class="div-li"><li><a routerLinkActive="">Áreas</a></li></div>
                    <div class="div-li"><li><a routerLinkActive="">Blog</a></li></div>
                    <div class="div-li"><li><a routerLinkActive="">Contacto</a></li></div>
                </ul>
            </div>
        </nav>
    </div>
</div>
