<div class="div">
    <footer class="footer">
        <div class="div-form">
            <form class="form" action="" method="post">
                <div class="div-input">
                    <input type="text" placeholder="Nombre">
                </div>
                <div class="div-input">
                    <input type="text" placeholder="Apellido">
                </div>
                <div class="div-input">
                    <input type="email" placeholder="Correo">
                </div>
                <div class="div-input">
                    <input type="text" placeholder="Mensaje">
                </div>
                <div class="div-input-btn">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </footer>
</div>